@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="~/css/moviesList.css" asp-append-version="true" />

<h1>Top 100</h1>

<div class="list-group">
    @foreach (var movie in Model.Movies) {
        <div class="list-group-item">
            <img src="https://image.tmdb.org/t/p/w200/@movie.Poster" class="img-fluid" alt="Alternate Text" />
            <div class="movieData">
                <a class="title" href="/movie/@movie.MovieId">@movie.Title</a>
                <p class="year">@movie.Year</p>
            </div>
            <div class="movieScore">
                <span class="material-icons" id="star">&#xf0ec;</span>
                @movie.AverageScore
            </div>
        </div>
    }
</div>

@functions {

}


