
html {
    font-size: 1rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

h1 {
    margin: 0 0 20px 20px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

.list-group-item img {
    width: 10%;
}

.movieData {
    margin: auto 0 auto 15px;
}

.movieData a {

    color: black;
    text-decoration: none;
}

.movieData a:hover {
    
    color: darkgoldenrod;
}

.title {

    margin-bottom: 5px;

    font-weight: bold;
    font-size: 1.25rem;
}

.year {
    margin-bottom: 5px;
    font-size: 1rem;
}

.movieScore {

    margin: auto 40px auto auto;

    font-size: 2rem;
}
